<!doctype html>
<html>

	<head>
		<title>Instagram Data</title>
		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="css/assignment2.css">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">


	</head>


	<body>



	    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Instagram Data</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/account">Home</a></li>       
            <li class="active"><a href="/about">About</a></li>       
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    </br></br></br></br></br>


		</br>
  <h1 class="text-center">
    Instagram Data
  </h1>

  <h4 class="text-center">
  	Instagram Data is a web application that breaks down your Instagram Statistics using Data Visualization libraries of C3.js and D3.js. For the first graph, we grab the recent data from your Instagram and show the number of followers that your followers have in a Bar graph using C3.js Libraries. 
  	For the second graph, we grab the recent data from your Instagram and show the number of photos that your followers have in a Bar graph using D3.js Libraries.
  	For the third graph, we grab the recent data from your Instagram. Then we show the number of likes that your photos have and display the images by using a bubble chart using D3.js Libraries.
  </h4>






	</body>
</html>