
<DOCTYPE! HTML>
<html>
<head>
</head>
<body>
<h1> Number of Photos </h1>


<div id="chart"></div>
<script src="js/visualization.js"></script>

<button type="button"> SORT </button>
</body>
</html>


