.loginContainer{
	
}

.captionContainer{
	margin: 0 auto;
	width: 300px;
}

.img-centered {
    margin: 0 auto;
}

.photoContain{
   padding:1px;
   border:5px solid #021a40;
}


h4{
	padding: 15px;
}